<!DOCTYPE html>
<html lang="en">
<% include layout/header %>
 
<body>
  <div>
    <div>
      <% include layout/navbar %>
    </div>
    <script>
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
      /*toggle feature*/
      $(document).ready(function () {
        $("#myTab li:eq(0) a").tab('show'); // show 2nd tab on page load
      });
    </script>
    <div class="container">
     <div class="jumbotron">
        <h4><strong>*SFSU Software Engineering Project CSC 648-848, Fall 2019.  For Demonstration Only</strong></h4>
        </div>
  </div>  
 
    <!--Seller dashboard-->
    <div class="container">
    </div>
    <!--Sellers item and description-->
    <div class="center">
      <ul class="nav nav-tabs justify-content-center" id="myTab">
        <li class="active nav-item">
          <a href="#items" class="nav-link" data-toggle="tab">Inventory</a>
        </li>
        <li class="nav-item">
          <a href="#messages" class="nav-link" data-toggle="tab">Messages</a>
        </li>
 
 
      </ul>
      <!--large container-->
      <div class="tab-content">
 
        <!-- INVENTORY TAB -->
          <div class="tab-pane fade" id="items">
        <div class="container">
          <ul class="list-unstyled">
              <% for(let i=0; i < userItems.length; i++) { %>
              <li class="media">
                <img class="mr-3" src="data:itemImage/jpg;base64,<%= imgblobs[i] %>" alt="<%= userItems[i].name %>" style="height: 100px;">
                   
                <div class="media-body">
                    <a style="display:block; color: black;" href="/searchResults/<%= userItems[i].id %>">
                  <h5 class="mt-0 mb-1"><%= userItems[i].name %></h5></a>
                  <%= userItems[i].description %>
                  <span style="float:right;">
                    $<%= userItems[i].price %>.00
                </span><br>
                <% if (userItems[i].status === 1) {%>
                  Status: Approved
                  <% } else {%>
                    Status: Unapproved
                    <% } %>
                </div>
                <div class="col-sm-4" style="text-align: right; margin-top: 10px">
                    <a href="/post/edit/<%= userItems[i].id %>" class="btn btn-secondary btn-circle" data-toggle="tooltip" title="edit"><i
                        class="fa fa-pencil"></i></a>
                    <a href="/post/edit/delete/<%= userItems[i].id %>" class="btn btn-secondary btn-circle" data-toggle="tooltip" title="delete"><i
                        class="fa fa-trash-o"></i></a>
                  </div>
              </li>
              <% } %>
              
 
            </ul>
          </div>
        </div>
 
        <!--message container-->
        <div class="tab-pane fade" id="messages">
                <div class="container">
          <!--message starts here-->
          <% for(var j=0; j < messages.length; j++) { %>
              <div class="media border p-3">
                <div class="media-body">
 
                     <a style="display:block; color: black;"  href="/dashboard/<%= messages[j].mess_id %>/<%= messages[j].name %>/<%= messages[j].content %>"  onclick="resp(<%= messages[j].id %>)">  
 
 
 
                  <div class="d-flex justify-content-between">
                    <div>
                      <h3 class="col-sm-12" style="text-align:left;">
                        Username: <%= messages[j].name %> 
                    </div> </a>
                  </div>
                  <p>Message: <%= messages[j].content %> </p>
                  <p> ITEM NAME: <%= messages[j].itemName %> </p>
                  <p> Meeting Location: <%= messages[j].meeting_location %> </p>
 
                </div>
                <div class="col-sm-4" style="text-align: right">
                  <a href="/dashboard/delete/<%= messages[j].mess_id %>" class="btn btn-secondary btn-circle" data-toggle="tooltip" title="delete"><i
                      class="fa fa-trash-o"></i></a>
                </div>
 
              </div>
              <% } %>
            </div>
 
 
          </div>
        </div>
 
        <!--this is where message ends-->
      </div>
 
    <% include layout/footer %>
</body>
 
</html>