<!doctype html>
<html lang="en">
<% include layout/header %>
<body>
<div>
    <div>
        <% include layout/navbar %>
    </div>
<div class="container">
     <div class="jumbotron">
        <h4><strong>*SFSU Software Engineering Project CSC 648-848, Fall 2019.  For Demonstration Only</strong></h4>
        <br/>
        <h4>THIS IS THE RESULTS PAGE</h4>
    </div>
<div id="result-style">
<div class="row">
    <% for(let i=0; i < searchResults.length; i++) { %> 
        <a style="display:block; color: black;" href="/searchResults/<%= searchResults[i].id %>">
            <div class="card-deck">
                <div class="card" style="width:100%">
                    <img class="card-img-top" src="data:itemImage/jpg;base64,<%= imgblobs[i] %>" alt="<%= searchResults[i].name %>" style="height: 325px;">
                        <div class="card-block">
                            <h4 class="card-title"> <%= searchResults[i].name %></h4>
                                <p class="card-text"><%= searchResults[i].description %></p>
                                <p class="card-text">$<%= searchResults[i].price %>.00</p>
                        </div>
                </div>
            </div>
        </a>
   <% } %>
</div>
</div>
</div>
<% include layout/footer %> 
</body>
</html>